/*Оглавление:
	1. Шрифты:	1.1 p052b	1.2 hackb
	2. Общие и :root значения
	3. Основа вёрстки
	4. Блоки Header, Main, Footer. (определяющие тип страницы)
	5. Стили базовых элементов (h1-6, p, pre, and etc.)	
	6. Стили элементов, уникальных для страниц.
	7. "Сакральные стили"
	8. Стили классов (.hack / .pb для шрифтов and etc.)*/
	
/* 1. Шрифты */
@font-face {	font-family: "p052b";	src: url("assets/p052b.otf"); }
@font-face {	font-family: "hackb";	src: url("assets/hackb.ttf"); }

/* 2. Общие и :root значения */
/* Значения из этого подпункта МОГУТ быть написаны в формате исключений, но лишь их, другие субселекторы крайне осуждаемы.*/
:root {
	--fg: rgb(210,210,255);
	--bg: rgb(0,0,25);
	--fg-accent: rgb(240,240,255);
	--bg-accent: rgb(0,0,80);
	--bg-semitransparent: rgba(0,0,80,0.05);

	--least: -32;
	--most: 32;
	--bordure: 2px;

	background: url(assets/bgcs1.png) no-repeat;
	background-position: right;
	background-size: auto 100%;
}
::selection {
	color: var(--accent);
	background-color: var(--fg);
}
* {
	transition: all 0.5s;
	margin: 0;
	padding: 0;
	font-family: hackb;
	color: var(--fg);
	box-sizing: border-box;
}
/* 3. Основа вёрстки */
body {
	width: 100vw;
	max-width: 100vh;
	min-height: 100vh;
	margin-inline: auto;
	transition: none;
	background-color: var(--bg-semitransparent);
	flex-direction: column;
}
body:not(:has(footer)) {
	display: flex;	
}
/* 4. Блоки Body, Header, Main, Footer. (определяющие тип страницы) */
body {
	background-color: var(--bg-semitransparent);
	border: 4px solid var(--fg);
}
header {
	order: var(--least);
	background-color: var(--bg-block);
	width: 100%;
	min-height: 6em;
	height: fit-content;
	border-bottom: var(--bordure) solid var(--fg);
	flex-grow: 0;
	padding: 0.5em;
}
main {
	flex-grow: 1;
	display: flex;
	flex-flow: column nowrap;
	background-color: var(--bg-semitransparent);
	gap: 0.5em;
	padding: 0.5em;
}
main {
	self-align: end;
}
/* 5. Стили базовых элементов (h1-6, p, pre, and etc.) */	
h1 {
	font-family: p052b;
	font-size: 4em;
}
h2 {
	font-family: p052b;
	font-size: 3em;
}
h3 {
	font-family: p052b;
	font-size: 2.5em;
}
h4 {
	font-family: hackb;
	font-size: 2.5em;
}
h5 {
	font-family: hackb;
	font-size: 1.5em;
}
h6 {
	font-family: hackb;
	font-size: 1em;
	color: var(--accent);
}
p {
	font-size: 1em;
	color: var(--fg);
}
b {
	font-size: 1.1em;
	color: var(--accent);
}

/* 6. Стили элементов, уникальных для страниц. */
 main.blocks > * {
 	background-color: var(--bg-block);
 	border: 2px solid var(--fg);
 	margin-inline: auto;
 	min-height: 3em;
 	width: 100%; 
	box-shadow: 4px 4px var(--bg-semitransparent);
 }
main.blocks > *:hover {
	background-color: var(--bg-accent);
}
main.blocks > * > p {
	padding-inline: 1em;
}
main.blocks > *:hover > .bheader {
	color: var(--bg-accent);
}
.bheader {
	background-color: var(--fg);
	color: var(--bg);
	max-height: 1.5em;
	font-size: 1.5em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* 7. "Сакральные стили" */
a {
	text-decoration: none;
	color: var(--accent);
}
ul {
	list-style-type: none;
}

/*8. Стили классов (.hack / .pb для шрифтов and etc.) */
.hack {
	font-family: hackb;
}
.pb {
	font-family: p052b;
}
